<style>
    .boxShadow {

    }
</style>
<style>
    
    .mdfContactRightPanelContainer {

        margin-top: 80px;
        max-width: 300px;
        min-height: 50px;
         

    }
    .mdfRightPanelContent {
        text-align: left; 
        float: left; 
        min-width: 300px; 
        min-height: 50px; 

    }
@@media only screen and (max-width:1399px){

}
@@media only screen and (max-width:1150px){
      .mdfContactRightPanelContainer {
        margin-top: 80px;
         max-width: 250px;
         min-height: 50px;
         margin-right: 0px; 
         background-color: #ECF8FF

    }
     .mdfRightPanelContent {

        text-align: left; 
        float: none; 
        min-width: 0; 
        min-height: 50px; 

    }
}
@@media only screen and (max-width:940px){

}
@@media only screen and (max-width:900px){
    .mdfContactRightPanelContainer {
        margin-top: 80px; 
        float: none; 
        max-width: 80%;
        min-height: 50px;
	    margin-left: 10%;
        margin-bottom: 40px;
        text-align: center;
    }
        .mdfRightPanelContent {

        text-align: left; 
        float: none; 
        min-width: 0; 
        min-height: 50px; 

    }
}
</style>
<div class="mdfContactRightPanelContainer">
    <div class="mdfRightPanelContent">
        
        <div style="font-weight: bold; font-size: 14pt; width: 90%; margin-left: 10px; margin-bottom: 5px; color:#383737">Star Dedicated Resources</div>
        <div style="font-weight: bold; font-size: 10pt; width: 90%; margin-left: 10px;  margin-bottom: 15px; color: #383737">Need help with your MDF request?</div>
        

        <div id="mdfContact" style="font-weight: bold; font-size: 10pt; width: 90%; margin-left: 10px; color: #383737"></div>
        <div id="mdfContactEmail" style="font-weight: bold; font-size: 10pt; width: 90%; margin-left: 10px; color: #383737"></div>
    </div>


</div>