<style>
    .boxShadow {

    }
</style>
<style>
    
    .mdfHistRightPanelContainer {

        margin-top: 80px;
        margin-bottom: 20px;
        max-width: 300px;
        min-height: 50px;
         

    }
    .mdfHistRightPanelContent {
        text-align: left; 
        float: left; 
        min-width: 300px; 
        min-height: 50px; 

    }
@@media only screen and (max-width:1399px){

}
@@media only screen and (max-width:1150px){
      .mdfHistRightPanelContainer {
        margin-top: 80px;
        margin-bottom: 20px;
         max-width: 250px;
         min-height: 50px;
         margin-right: 0px; 
         background-color: #ECF8FF

    }
     .mdfHistRightPanelContent {

        text-align: left; 
        float: none; 
        min-width: 0; 
        min-height: 50px; 

    }
}
@@media only screen and (max-width:940px){

}
@@media only screen and (max-width:900px){
    .mdfHistRightPanelContainer {
        margin-top: 80px; 
        margin-bottom: 20px;
        float: none; 
        max-width: 80%;
        min-height: 50px;
	    margin-left: 10%;
        margin-bottom: 40px;
        text-align: center;
    }
    .mdfHistRightPanelContent {

        text-align: left; 
        float: none; 
        min-width: 0; 
        min-height: 50px; 

    }
}
</style>
<div class="mdfHistRightPanelContainer">
    <div class="mdfHistRightPanelContent">

        <div style="font-weight: bold; font-size: 14pt; width: 90%; margin-left: 10px; margin-bottom: 5px; letter-spacing: 2px; color: #001E4F">Historical Performance</div>
        <div style="width: 90%; background-color: #D3ECFA; color: #133B7C; margin-left: 10px; margin-top: 10px;margin-bottom: 70px;">
            <div id="mdfHistQOne" style="font-weight: normal; font-size: 12pt; width: 100%; margin-left: 10px; color: #133B7C"></div>
            <div id="mdfHistQTwo" style="font-weight: normal; font-size: 12pt; width: 100%; margin-left: 10px; color: #133B7C"></div>
            <div id="mdfHistQThree" style="font-weight: normal; font-size: 12pt; width: 100%; margin-left: 10px; color: #133B7C"></div>
            <div id="mdfHistQFour" style="font-weight: normal; font-size: 12pt; width: 100%; margin-left: 10px; color: #133B7C"></div>
        </div>

    </div>


</div>