
<style>
    
        .daycolodd {
            background-color: #D3ECFA;
            color: #133B7C;
        }

        .daycoleven {
            background-color: #ECF8FF;
            color: #133B7C;
        }

        .itemDescription {
            background-color: #d1d1d1;
            color: #133B7C;
        }



    .btnExport {
        width: 60%; 
        height: 30px; 
        color: #ffffff; 
        font-weight: normal; 
        display: inline-block; 
        text-align: center; 
        background-color: #133B7C; 
        font-size: 10pt;
        padding-top: 10px;
    }

    .oppHeaderCol1 {
        width: 300px;
        float: left;
        display: inline-block;
        text-align: center;
        font-size: 16pt; font-weight: bold; letter-spacing: 1px;
    }
    .oppHeaderCol2 {
        width: 300px;
        float: left;
        display: inline-block;
        text-align: center;
        font-size: 16pt; font-weight: bold; letter-spacing: 1px;
    }
    .oppHeaderCol3 {
        float: right;
        text-align: right;
        display: inline-block;
        font-size: 11pt; font-weight: bold; letter-spacing: 1px;
    }
    .clsTextBoxLanding {
        width: 100% !important;
        border: 0 !important;
        border: 1px solid #73C4F2 !important;
        min-height: 30px !important;
        margin-top: 10px;
        padding-left: 15px; padding-right: 15px; box-sizing: border-box;
    }
    .clsTextBoxSearch {
        width: 300px !important;
        border: 0 !important;
        border: 1px solid #73C4F2 !important;
        min-height: 30px !important;
        margin-top: 10px;
        padding-left: 15px; padding-right: 15px; box-sizing: border-box;
    }
    .clsTextBoxOpportunity {
        width: 400px !important;
        border: 1px solid #969696 !important;
        min-height: 50px !important;
        margin-top: 10px;
        display: inline-block;
        padding-left: 15px; padding-right: 15px; box-sizing: border-box;
    }
    .bevelBox
    {
        width: 400px;
   
        background: #D3ECFA;
    
        border: 1px solid #D3ECFA;    
    
        -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px 2px 2px rgba(0, 0, 0, .4);
        -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px 2px 2px rgba(0, 0, 0, .4);
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px 2px 2px rgba(0, 0, 0, .4);
        padding: 10px;
    }
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 0px 0;
        border-radius: 4px;
        width: 100%;
        font-size: 14pt;
    }
    .oppTableHeader {
        padding: 2px; background-color: #ECF8FF; color: #001E4F; height: 30px; font-weight: bold; font-size: 12pt; table-layout: fixed;
    }
    .oppTableText {
        padding: 2px;padding-left: 5px; font-size: 10pt; height: 30px;
    }
    .tabColMSRP {
        width: 90px;
    }
    .tabColMAP {
        width: 70px;
    }
    .tabColDiscount {
        width: 80px;
    }
    .tabColPart {
        width: 120px;
    }
    @@media only screen and (max-width:1880px){
        .oppTableHeader {
            padding: 2px; background-color: #ECF8FF; color: #001E4F; height: 30px; font-weight: bold; font-size: 10pt; table-layout: fixed;
        }
        .oppTableText {
            padding: 2px; font-size: 9pt;
        }
        .tabColMSRP {
            width: 70px;
        }
        .tabColMAP {
            width: 50px;
        }
        .tabColDiscount {
            width: 60px;
        }
        .tabColPart {
            width: 100px;
        }
     }
    @@media only screen and (max-width:1400px){
       .oppTableHeader {
            font-size: 9pt; 
        }
    }
    @@media only screen and (max-width:1330px){
        .oppTableHeader {
            font-size: 8pt; 
        }
        .oppTableText {
            padding: 2px; font-size: 8pt;
        }  
        .tabColMSRP {
            width: 60px;
        }
        .tabColMAP {
            width: 40px;
        }
        .tabColDiscount {
            width: 50px;
        }
        .tabColPart {
            width: 90px;
        }
    }
    @@media only screen and (max-width:1180px){
        .oppTableHeader {
            font-size: 7pt; 
        }
        .oppTableText {
            padding: 2px; font-size: 7pt;
        }  
        .tabColMSRP {
            width: 60px;
        }
        .tabColMAP {
            width: 30px;
        }
        .tabColDiscount {
            width: 50px;
        }
        .tabColPart {
            width: 80px;
        }
    }
    @@media only screen and (max-width:1070px){
        .oppTableHeader {
            font-size: 7pt; 
        }
        .oppTableText {
            padding: 2px; font-size: 7pt;
        }  
        .tabColMSRP {
            width: 35px;
        }
        .tabColMAP {
            width: 25px;
        }
        .tabColDiscount {
            width: 40px;
        }
        .tabColPart {
            width: 60px;
        }
    }
    @@media only screen and (max-width:990px){
    .btnExport {
        width: 80%; 
        height: 30px; 
        color: #ffffff; 
        font-weight: normal; 
        display: inline-block; 
        text-align: center; 
        background-color: #133B7C; 
        font-size: 10pt;
        padding-top: 10px;
    }
}
    @@media only screen and (max-width:951px) and (min-width:900px){
    .btnExport {
        width: 100%; 
        height: 40px; 
        font-size: 10pt;
        padding-top: 5px;
    }
}
    @@media only screen and (max-width:955px){
        .oppTableHeader {
            font-size: 6pt; 
        }
        .oppTableText {
            padding: 2px; font-size: 7pt;
        }  
        .tabColMSRP {
            width: 35px;
        }
        .tabColMAP {
            width: 25px;
        }
        .tabColDiscount {
            width: 40px;
        }
        .tabColPart {
            width: 40px;
        }
    }
    @@media only screen and (max-width:900px) and (min-width:704px){
        .oppTableHeader {
            font-size: 11pt !important; 
        }
        .oppTableText {
            padding: 2px; font-size: 10pt !important;
        }  
        .tabColMSRP {
            width: 60px;
        }
        .tabColMAP {
            width: 40px;
        }
        .tabColDiscount {
            width: 80px;
        }
        .tabColPart {
            width: 80px;
        }
        .btnExport {
            width: 100%; 
            height: 40px; 
            font-size: 10pt;
            padding-top: 7px;
        }
    }
    @@media only screen and (max-width:704px) and (min-width:600px){
        .oppTableHeader {
            font-size: 9pt !important; 
        }
        .oppTableText {
            padding: 2px; font-size: 9pt !important;
        }  
        .tabColMSRP {
            width: 50px;
        }
        .tabColMAP {
            width: 30px;
        }
        .tabColDiscount {
            width: 60px;
        }
        .tabColPart {
            width: 80px;
        }
        .btnExport {
            width: 100%; 
            height: 38px; 
            font-size: 10pt;
            padding-top: 0px;
        }
    }
    @@media only screen and (max-width:599px) and (min-width:391px){
        .oppTableHeader {
            font-size: 7pt !important; 
        }
        .oppTableText {
            padding: 2px; font-size: 7pt !important;
        }  
        .tabColMSRP {
           
        }
        .tabColMAP {
            
        }
        .tabColDiscount {
           
        }
        .tabColPart {
            
        }
       .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 0px 0;
            border-radius: 4px;
            width: 100%;
            font-size: 9pt;
        }
               .btnExport {
            width: 100%; 
            height: 38px; 
            font-size: 10pt;
            padding-top: 0px;
        }
    }
    @@media only screen and (max-width:390px) and (min-width:0px){
           .oppTableHeader {
            font-size: 7pt !important; 
        }
        .oppTableText {
            padding: 2px; font-size: 7pt !important;
        }  
        .tabColMSRP {
           
        }
        .tabColMAP {
            
        }
        .tabColDiscount {
           
        }
        .tabColPart {
            
        }
        .clsTextBoxSearch {
            width: 90% !important;
            border: 0 !important;
            border: 1px solid #73C4F2 !important;
            min-height: 30px !important;
            margin-top: 10px;
            padding-left: 15px; padding-right: 15px; box-sizing: border-box;
        }
       .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 0px 0;
            border-radius: 4px;
            width: 100%;
            font-size: 9pt;
        }
        .btnExport {
            width: 100%; 
            height: 38px; 
            font-size: 10pt;
            padding-top: 0px;
        }
    }
 
</style>

<div style="width: 100%;" ng-controller="StarDistResellersController">
    <div class="fusion-fullwidth fullwidth-box" style="text-align: left; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">

        <div class="fusion-row" id="displayProductPrices">
            <div style="width: 100%; display: inline-block; text-align: left; padding-top: 30px; color: #3D80EB;">

                <div style="width: 100%; margin-top: 20px; padding-left: 15px;">
                    <div style="width: 100%; color: #2551A4; font-size: 12pt;">Filter by: Item, Product Class or Part #</div>
                    <div style="width: 100%; float: left; display: table-cell; vertical-align: middle;">
                        <input class="clsTextBoxSearch" id="filter" placeholder="&#128269;" type="text" value="" ng-model="query">
                    </div>
                </div>
            </div>
            <div style="width: 100%; display: inline-block; text-align: left; padding-top: 30px; color: #3D80EB;">
                <div style="width: 30%; padding-left: 15px; padding-right: 25px; float: left; text-align: left;">
                    <div class="btnExport" ng-click="exportExcel()" style="cursor: pointer;">Export</div>
                    <button ng-json-export-excel data="ProductPricesForExport" report-fields="ColumnList" optional-Texts="disclaimerList" filename="'ProductList'" style="display: none;" id="btnExport">Export Excel</button>
                </div>
            </div>
            <div style="width: 100%; display: inline-block; text-align: left; padding-top: 30px; color: #3D80EB;">

                <div style="width: 100%; margin-top: 20px; padding-left: 15px;">
                    <div style="width: 100%; color: #2551A4; font-size: 10pt;">For price quotes, please contact your preferred distributor. Purchases <b>cannot</b> be made through the portal.</div>
                </div>
            </div>
            <div id="displayOpportunityList" style="padding: 10px; text-align: center;">
                <table style="cursor: pointer; text-align: left; width: 100%; table-layout: fixed; word-wrap: break-word;">
                    <thead>
                        <tr style="text-align: left; border-bottom: 1px solid #000000;">
                            <th ng-click="predicate = 'ProductClass'; reverse=!reverse" class="oppTableHeader">Product Class</th>
                            <th ng-click="predicate = 'ItemCode'; reverse=!reverse" class="oppTableHeader tabColPart">Part #</th>
                            <th ng-click="predicate = 'ItemName'; reverse=!reverse" class="oppTableHeader">Item</th>
                            <th ng-click="predicate = 'ListPrice'; reverse=!reverse" class="oppTableHeader tabColMSRP" style="text-align: left;">SSRP</th>
                            <th ng-click="predicate = 'MAP'; reverse=!reverse" class="oppTableHeader tabColMAP" style="text-align: left;">MAP</th>
                            <th ng-click="predicate = 'DiscountRate'; reverse=!reverse" class="oppTableHeader tabColDiscount" style="text-align: left;">Discount</th>
                            @*                   <th ng-click="predicate = 'DiscountedPrice'; reverse=!reverse" class="oppTableHeader" style="text-align: right;">Discounted Price</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="showLoading">
                            <td colspan="6">
                                <div style="font-size: 16pt; font-weight: bold; color: #737373; margin-left: 15px; margin-bottom: 20px; border: 1px solid #ececec; text-align: center;">
                                    <img src="~/Images/loadingP.gif" />
                                </div>

                            </td>
                        </tr>
                        <tr ng-hide="recordFound">
                            <td style="height: 20px; padding: 0; text-align: center; color: #ff0000; font-size: 16pt; padding: 10px; background-color: #ECF8FF;" colspan="6">No Records found</td>
                        </tr>

                        <tr dir-paginate-start="item in ProductPrices | filter : doFilter | orderBy : predicate:reverse|itemsPerPage:10" ng-hide="showLoading">
                            <td style="height: 10px; padding: 0; font-size: 4pt; background-color: #ECF8FF;" colspan="6">&nbsp;</td>
                        </tr>
                        <tr style="background-color: #D3ECFA;color: #133B7C;" ng-hide="showLoading">
                            <td class="oppTableText" ng-click="showDescription(item)">{{item.ProductClass}}</td>
                            <td class="oppTableText" ng-click="showDescription(item)">{{item.ItemCode}}</td>
                            <td class="oppTableText" style="padding-left: 5px;" ng-click="showDescription(item)">
                                {{item.ItemName}}
                                @* <span class="spnTooltip">
                               {{item.SalesDescription}}
                            </span>*@
                            </td>


                            <td style="text-align: left; " class="oppTableText" ng-click="showDescription(item)">{{item.ListPrice}}</td>
                            <td class="oppTableText" ng-click="showDescription(item)">{{item.MAP}}</td>
                            <td class="oppTableText" ng-click="showDescription(item)">{{item.DiscountRate}}%</td>
                            @*<td style="text-align: right;" class="oppTableText" ng-click="showDescription(item)">
                            <div style="color: #ffffff; background-color: #F8A900; float: right; text-align: center; height: 30px; padding-top: 15px; width: 80%;" class="oppTableText" >
                                ${{item.DiscountedPrice}} >
                            </div>

                        </td>*@

                        </tr>
                        <tr ng-show="item.ShowDescription">
                            <td style="padding: 5px; font-size: 10pt; height: 20px;" class="itemDescription" colspan="6">{{item.SalesDescription}}</td>
                        </tr>
                        <tr dir-paginate-end>
                            <td style="height: 1px; padding: 0; font-size: 0pt; background-color: #ECF8FF;" colspan="6"></td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
            </div>


        </div>


    </div>

</div>


<Style>
    

    @@media only screen and (max-width: 759px) {


    }

    @@font-face {
        font-family: 'Sintony';
        font-style: normal;
        font-weight: 400;
        src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v7/XoHm2YDqR7-98cVUET0tuv0rnjrQ8Q.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @@font-face {
        font-family: 'Sintony';
        font-style: normal;
        font-weight: 400;
        src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v7/XoHm2YDqR7-98cVUETMtuv0rnjo.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }




    tr .spnTooltip {
        z-index:10;display:none; padding:14px 20px;
        margin-top:-30px; margin-left:28px;
        width:600px; line-height:16px;
    }
    tr:hover .spnTooltip{
        display:inline; position:absolute; color:#133B7C;
        border:1px solid #DCA; background:#f7f7f7;box-shadow: 1px 1px 5px #888888;}
    .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

    .sweet-alert h2 {
        font-size: 16pt;
        text-align: justify;
        line-height: 1.5;
    }
  
</Style>

<script>

        app.controller("StarDistResellersController", function ($controller, $scope, $http, $sce, 
            notificationFactory, $location,
            validationFactory, filterFilter, helperFactory, dbUtilFactory) {
            
            $scope.disclaimerList = [];
            $scope.disclaimerLine = "";


            $scope.getTime = function () {
                var d = new Date();
                d.setHours(d.getHours()); // offset from local time
                var h = (d.getHours() % 12) || 12; // show midnight & noon as 12
                return (
                    (h < 10 ? '0' : '') + h +
                    (d.getMinutes() < 10 ? ':0' : ':') + d.getMinutes() +
                            // optional seconds display
                    // ( d.getSeconds() < 10 ? ':0' : ':') + d.getSeconds() + 
                    (d.getHours() < 12 ? ' AM' : ' PM')
                );

            }

            $scope.Account = {};
            $scope.getAccount = function () {
                dbUtilFactory.get(root + 'api/ppcmsapi/GetAccountFromSessionData/', "", function (d) {
                    $scope.Account = d;

                    $scope.disclaimerLine = "(c) " + (new Date()).getFullYear() + " Star Micronics America. All rights reserved.";
                    $scope.disclaimerList.push({ description: $scope.disclaimerLine });
                    $scope.disclaimerLine = "Confidential Information - Do Not Distribute.";
                    $scope.disclaimerList.push({ description: $scope.disclaimerLine });
                    $scope.disclaimerLine = "Generated By: " + $scope.Account.AccountName + " " + ((new Date()).getMonth() + 1) + "/" + (new Date()).getDate() + "/" + (new Date()).getFullYear() + " " + $scope.getTime();
                    $scope.disclaimerList.push({ description: $scope.disclaimerLine });

                }, '', 'Error getting data ');
            };
            $scope.getAccount();

            $scope.ProductPrices = [];
            $scope.ProductPricesForExport = [];
            $scope.query = "";
            $scope.recordFound = true;
            $scope.ExportFileName = 'ResellerList.csv';
            $scope.ColumnList = { ProductClass: 'Product Class', ItemCode: 'Part#', ItemName: 'Item', ListPrice: 'MSRP', MAP: 'MAP', DiscountRate: 'Discount' };


            $scope.showLoading = true;
            $scope.getProductPrices = function () {
                dbUtilFactory.get(root + 'api/ppcmsapi/GetProductPriceList/', "", function (d) {
                    $scope.ProductPrices = d;
                    $scope.ProductPricesForExport = d;
                    $scope.showLoading = false;
                    if ($scope.ProductPrices.length == 0) {
                        if ($scope.Account.Region == null || $scope.Account.Region == "" || $scope.Account.Region == undefined) {
                            
                            var text = "No region is found for your account. Please reach out to your Dedicated Channel Account Manager to set your region.";
                            swal({
                                title: "Error",
                                text: text,
                                type: "error"
                            });
                        } else {
                            $scope.recordFound = false;
                        }
                    }
                }, '', 'Error getting data ');
            };
            $scope.getProductPrices();

            $scope.doFilter = function (row) {
                return ((row.ItemName != null) && (angular.lowercase(row.ItemName).indexOf(angular.lowercase($scope.query) || '') !== -1) ||
               ((row.ProductClass != null) && (angular.lowercase(row.ProductClass).indexOf(angular.lowercase($scope.query)) || '') !== -1) ||
               ((row.ItemCode != null) && (angular.lowercase(row.ItemCode).indexOf(angular.lowercase($scope.query) || '')) !== -1));
            }

            $scope.showDescription = function (item) {
                var existingStatus = item.ShowDescription;
                for (var i = 0; i < $scope.ProductPrices.length; i++) {
                    $scope.ProductPrices[i].ShowDescription = false;
                }
                item.ShowDescription = !existingStatus;
            }


            

            $scope.exportExcel = function () {
                //2 execute the hidden button 
                document.getElementById('btnExport').click();
            }


            $scope.$watch('query',function(newVal, oldVal, scope) {
                var query = $("#filter").val();
                if (query != undefined && query != "") {
                    var temp = [];
                    for (var i = 0; i < $scope.ProductPrices.length; i++) {
                        if ((($scope.ProductPrices[i].ItemName != null) && (angular.lowercase($scope.ProductPrices[i].ItemName).indexOf(angular.lowercase(query) || '') !== -1)) ||
                        (($scope.ProductPrices[i].ProductClass != null) && (angular.lowercase($scope.ProductPrices[i].ProductClass).indexOf(angular.lowercase(query) || '') !== -1)) ||
                        (($scope.ProductPrices[i].ItemCode != null) && (angular.lowercase($scope.ProductPrices[i].ItemCode).indexOf(angular.lowercase(query) || '') !== -1))) {
                            temp.push($scope.ProductPrices[i]);
                        }
                    }
                    $scope.ProductPricesForExport = temp;
                } else {
                    $scope.ProductPricesForExport = $scope.ProductPrices;
                }
            });
        });
    </script>
