
<style>
    
        .daycolodd {
            background-color: #D3ECFA;
            color: #133B7C;
        }

        .daycoleven {
            background-color: #ECF8FF;
            color: #133B7C;
        }




    @@media only screen and (max-width:1400px){
   
    }
    @@media only screen and (max-width:1150px){
    
    }
    @@media only screen and (max-width:940px){
  
    }
    @@media only screen and (max-width:900px) and (min-width:400px){
    
    }
    @@media only screen and (max-width:390px) and (min-width:0px){
   
    }
    .oppTableHeader {
        padding: 2px; background-color: #ECF8FF; color: #133B7C; height: 30px; font-weight: bold; font-size: 12pt; table-layout: fixed;
    }
    .oppTableText {
        padding: 4px;
        
        font-size: 10pt;
        height: 30px;
    }
    .tabRevenue {
        width: 100px;
    }
    .tabStatus {
        width: 80px;
    }
    .tabName {
        width: 150px;
    }
    .tabDateCreated{
        width:150px;
    }
    .oppHeaderCol1 {
        width: 200px;
        float: left;
        display: inline-block;
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .oppHeaderCol2 {
        width: 200px;
        float: left;
        display: inline-block;
        text-align: center;
        font-size: 12pt; font-weight: bold; letter-spacing: 1px;
        margin-left: 10px;
    }
    .oppHeaderColOpenOpp {
        width: 170px;
        float: left;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        font-size: 10pt; font-weight: bold; letter-spacing: 1px;
    }
    .oppHeaderCol3 {
        float: right;
        text-align: right;
        display: inline-block;
        font-size: 11pt; font-weight: bold; letter-spacing: 1px;
    }
    .clsTextBoxLanding {
        width: 100% !important;
        border: 0 !important;
        border: 1px solid #73C4F2 !important;
        min-height: 30px !important;
        margin-top: 10px;
        padding-left: 15px; padding-right: 15px; box-sizing: border-box;
    }
    .clsTextBoxOpportunity {
        width: 200px !important;
        border: 1px solid #969696 !important;
        min-height: 50px !important;
        margin-top: 10px;
        display: inline-block;
        padding-left: 15px; padding-right: 15px; box-sizing: border-box;
    }
    .bevelBox
    {
        width: 95% !important;
   
        background: #D3ECFA;
    
        border: 1px solid #D3ECFA;    
    
        -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px 2px 2px rgba(0, 0, 0, .4);
        -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px 2px 2px rgba(0, 0, 0, .4);
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px 2px 2px rgba(0, 0, 0, .4);
        padding: 10px;
    }
    @@media only screen and (max-width:1580px) {
        .oppTableHeader {
            font-weight: bold;
            font-size: 11pt;
        }
    }
    @@media only screen and (max-width:1490px) {
        .oppTableHeader {
            font-weight: bold;
            font-size: 10pt;
        }
        .tabDateCreated {
            width: 100px;
        }
    }
    @@media only screen and (max-width:1395px){
        .oppTableHeader {
            font-weight: bold; font-size: 10pt;
        }
        .oppTableText {
            font-size: 9pt;
        }
        .tabRevenue {
            width: 100px;
        }
        .tabName {
            width: 120px;
        }
        .tabDateCreated {
            width: 83px;
        }
     }
     @@media only screen and (max-width:1240px){
        .oppTableHeader {
            font-weight: bold; font-size: 9pt;
        }
        .oppTableText {
            font-size: 8pt;
        }
        .tabRevenue {
            width: 60px;
        }
        .tabName {
            width: 120px;
        }
        .tabDateCreated {
            width: 75px;
        }
     }
     @@media only screen and (max-width:1160px){
        .oppTableHeader {
            font-weight: bold; font-size: 8pt;
        }
        .oppTableText {
            font-size: 9pt;
        }
        .tabRevenue {
            width: 60px;
        }
        .tabName {
            width: 120px;
        }
        .tabDateCreated {
            width: 66px;
        }
     }
     @@media only screen and (max-width:1090px){
        .oppTableHeader {
            font-weight: bold; font-size: 8pt;
        }
        .oppTableText {
            font-size: 8pt;
        }
        .tabRevenue {
            width: 60px;
        }
        .tabStatus {
            width: 60px;
        }
        .tabName {
            width: 100px;
        }
     }
    @@media only screen and (max-width:900px) and (min-width:660px){
        .oppTableHeader {
            font-weight: bold; font-size: 12pt;
        }
        .oppTableText {
            font-size: 11pt;
        }
        .tabName {
            width: 140px;
        }
        .tabRevenue {
            width: 100px;
        }
        .tabStatus {
            width: 100px;
        }
        .tabDateCreated {
            width: 100px;
        }
    }
    @@media only screen and (max-width:660px) and (min-width:490px){
        .oppTableHeader {
            font-weight: bold; font-size: 8pt !important;
        }
        .oppTableText {
            font-size: 10pt;
        }
        .tabRevenue {
            width: 60px;
        }
        .tabStatus {
            width: 60px;
        }
        .bevelBox
        {
            width: 85% !important;
        }
        .tabName {
            width: 75px;
        }
    }
    @@media only screen and (max-width:489px) and (min-width:391px){
        .oppTableHeader {
            font-weight: bold; font-size: 6pt !important;
        }
        .oppTableText {
            font-size: 7pt;
        }
        .tabRevenue {
            width: 60px;
        }
        .tabStatus {
            width: 60px;
        }
        .tabName {
            width: 75px;
        }
        .tabDateCreated {
            width: 50px;
        }
        .bevelBox
        {
            width: 85% !important;
        }
    }
    @@media only screen and (max-width:390px) and (min-width:0px){
        .oppTableHeader {
            font-weight: bold; font-size: 6pt !important;
        }
        .oppTableText {
            font-size: 7pt;
        }
        .tabRevenue {
            width: 60px;
        }
        .tabStatus {
            width: 60px;
        }
        .tabDateCreated {
            width: 50px;
        }
        .bevelBox
        {
            width: 85% !important;
        }
    }

    .btnExport {
        width: 100%; 
        min-height: 60px; 
        color: #ffffff; 
        font-weight: normal; 
        display: inline-block; 
        text-align: center; 
        background-color: #133B7C; 
        font-size: 10pt;
        border-radius: 5px;
    }
</style>

<div style="width: 100%;" ng-controller="StarDistOpportunitiesController">
    <div style="font-size: 16pt; font-weight: bold; color: #737373; background-color: #ECF8FF; margin-left: 15px; margin-bottom: 20px; border: 1px solid #ececec; text-align: center;" id="loadingContainer">
        <img src="~/Images/loadingP.gif"/>
    </div>

    <div class="fusion-fullwidth fullwidth-box" style="text-align: left; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: none;" id="oppContainer" ng-show="AllView">

        <div class="fusion-row">
            <div style="width: 100%; display: inline-block; text-align: left; padding-top: 30px; color: #3D80EB;">
                <div style="width:100%;display:inline-block; margin-top: 40px;">
                    <div style="float:left; min-height: 30px; color: #2551A4; font-size: 22pt; font-weight: bold;display:inline-block" class="ReturnToRebateRequestHeader">
                        Delegate Rebate Requests <br />
                    </div>
                    <div style="width: 250px;float:right; min-height: 30px; color: #ffffff; font-weight: normal; display: inline-block; padding-top: 10px;text-align:center;margin-bottom:10px; background-color: #133B7C; border:1px solid #ffffff;font-size: 10pt;cursor:pointer;" class="ReturnToRebateRequest" ng-click="GoToRequestRebate()">
                        Request Rebate
                    </div>
                </div>

                </div>
                <div style="width:100%;display:inline-block;height: 2px;background-color: #133B7C; "></div>

                <div style="width:100%;display:inline-block;">                    
                    <div style="height: 60px; color: #001E4F; display: inline-block;float:right;font-size: 12pt; font-weight: normal;">
                        <div>Search by Technology Partner & Delegate Rebate Number</div>
                        <input class="clsTextBoxLanding" id="filter" placeholder="&#128269;" type="text" value="" ng-model="query">
                    </div>
                </div>
            </div>          

        <div id="displayOpportunityList" style="padding: 2px; text-align: center;margin-top:20px;">
                <table style="cursor: pointer; text-align: left; width: 100%; table-layout: fixed; word-wrap: break-word;">
                    <thead>
                        <tr style="text-align: left; border-bottom: 1px solid #000000;">
                            <th class="oppTableHeader tabName">Technology Partner</th>
                            <th ng-click="predicate = 'DPN'; reverse=!reverse" class="oppTableHeader tabName"> DPN</th>
                            <th class="oppTableHeader tabName" style="text-align: right;"> Amount</th>
                            <th class="oppTableHeader tabName"> Date</th>
                            <th class="oppTableHeader "> Description</th>
                            <th class="oppTableHeader tabRevenue" style="width: 20px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="item in RecentRequests | filter : doFilter | orderBy : predicate:reverse" ng-hide="showLoading">
                        <td style="height: 10px; padding: 0; font-size: 4pt; background-color: #ECF8FF;" colspan="4">&nbsp;</td>
                    </tr>
                    <tr style="background-color: #D3ECFA; color: #133B7C;" ng-click="ShowSingleRequest(item)">
                        <td class="oppTableText" style="padding-left: 5px;">{{item.PurchasedOnBehalfOf}}</td>
                        <td style="" class="oppTableText">{{item.DPN}}</td>
                        <td style="text-align: right;" class="oppTableText">{{item.TotalAmount}}</td>
                        <td style="" class="oppTableText">{{item.RequestDate | date :'MMMM yyyy'}}</td>
                        <td style="" class="oppTableText">{{item.Notes}}</td>
                        <td class="oppTableText" style="font-size: 22pt; font-weight: bold;">></td>

                    </tr>
                    <tr ng-repeat-end>
                        <td style="height: 1px; padding: 0; font-size: 0pt; background-color: #ECF8FF;" colspan="4"></td>
                    </tr>

                    </tbody>
                </table>
            </div>


    </div>
    <div class="fusion-row" ng-show="SingleView">
        <div style="width: 100%; display: inline-block; text-align: left; padding-top: 30px; color: #3D80EB;">
            <div style="width: 100%; height: 30px;">
                <a href="#" ng-click="ShowAllRequest()" style="color: #2551A4; font-size: 14pt; font-weight: bold;">Back to Recent Requests&#8680;</a>
            </div>
            <div style="width: 100%; clear: both; display: inline-block; margin-top: 20px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 300px;  text-align: right; font-size: 14pt; font-weight: bold; color: #2551A4; vertical-align: top;">Delegate Partner Number:</td>
                        <td style="width: 5px; ">&nbsp;&nbsp;</td>
                        <td style="padding: 5px;">
                            <div class="bevelBox" style="min-height: 20px;">{{RecentRequest.DPN}}</div>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 300px;text-align: right; font-size: 14pt; font-weight: bold; color: #2551A4; vertical-align: top;">Request Date:</td>
                        <td style="width: 5px; ">&nbsp;&nbsp;</td>
                        <td style="padding: 5px">
                            <div class="bevelBox" style="min-height: 20px;">{{RecentRequest.RequestDate |date : 'MMMM yyyy'}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 300px;text-align: right; font-size: 14pt; font-weight: bold; color: #2551A4; vertical-align: top;">Empower Partner Number:</td>
                        <td style="width: 5px; ">&nbsp;&nbsp;</td>
                        <td style="padding: 5px">
                            <div class="bevelBox" style="min-height: 20px;">{{RecentRequest.EmpowerPartnerNumber}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 300px;text-align: right; font-size: 14pt; font-weight: bold; color: #2551A4; vertical-align: top;">Purchased on behalf of:</td>
                        <td style="width: 5px; ">&nbsp;&nbsp;</td>
                        <td style="padding: 5px">
                            <div class="bevelBox" style="min-height: 20px;">{{RecentRequest.PurchasedOnBehalfOf}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 300px;text-align: right; font-size: 14pt; font-weight: bold; color: #2551A4; vertical-align: top;">Star Vendor Number:</td>
                        <td style="width: 5px; ">&nbsp;&nbsp;</td>
                        <td style="padding: 5px">
                            <div class="bevelBox" style="min-height: 20px;">{{RecentRequest.StarVendorNumber}}</div>
                        </td>
                    </tr>
                </table>

            </div>


            <div style="padding: 10px; text-align: center;">
                <table style="cursor: pointer; text-align: left; width: 100%; table-layout: fixed; word-wrap: break-word;">
                    <thead>
                        <tr style="text-align: left; border-bottom: 1px solid #000000;">
                            <th class="oppTableHeader tabName">Part Number</th>
                            <th ng-click="predicate = 'DPN'; reverse=!reverse" class="oppTableHeader tabName"> Item Name</th>
                            <th class="oppTableHeader tabName" style="text-align: right;"> Delegate Rebate</th>
                            <th class="oppTableHeader tabName" style="text-align:right;"> Quantity</th>
                            <th class="oppTableHeader "> Distributor</th>
                            <th class="oppTableHeader tabRevenue" style="width: 20px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="height: 10px; padding: 0; font-size: 4pt; background-color: #ECF8FF;" colspan="4">&nbsp;</td>
                        </tr>
                        <tr ng-repeat="item in RecentRequest.RebateRequestDetail">
                            <td style="padding-left: 5px;">{{item.PartNumber}}</td>
                            <td>{{item.ItemName}}</td>
                            <td style="text-align: right;">{{item.DelegateRebate}}</td>
                            <td style="text-align: right;">{{item.Quantity}}</td>
                            <td>{{item.Distributor}}</td>

                        </tr>
                        <tr>
                            <td style="height: 1px; padding: 0; font-size: 0pt; background-color: #ECF8FF;" colspan="4"></td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <div style="width:100%;float:right;color:#2551A4;margin-top:20px;">
                <div style="width:100%;float:left;font-weight:bold;font-size:16pt;">Back up Documents:</div>
                <div style="float:left;margin-left:20px;font-size:12pt;font-weight:normal;margin-top:20px;">
                    <div style="height:15px;" ng-repeat="x in RecentRequest.RebateRequestFiles"><a target="_blank" href="~/Resources/RebateRequestFiles/{{Account.PartnerNumber}}/{{x.RequestId}}/{{x.FileName}}">{{$index +1}}.&nbsp;&nbsp;{{x.FileName}}</a></div>
                </div>
            </div>

        </div>
        </div>

    </div>



<Style>
    

    @@media only screen and (max-width: 759px) {


    }

    @@font-face {
        font-family: 'Sintony';
        font-style: normal;
        font-weight: 400;
        src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v7/XoHm2YDqR7-98cVUET0tuv0rnjrQ8Q.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @@font-face {
        font-family: 'Sintony';
        font-style: normal;
        font-weight: 400;
        src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v7/XoHm2YDqR7-98cVUETMtuv0rnjo.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }


  
</Style>

<script>
     

        app.controller("StarDistOpportunitiesController", function ($controller, $scope, $http, $sce, 
            notificationFactory, $location,
            validationFactory, filterFilter, helperFactory, dbUtilFactory) {


            $scope.RecentRequests = [];
            $scope.RecentRequest = {};
            $scope.TotalUnits = 0;
            $scope.AllView = true;
            $scope.SingleView = false;
            $scope.Account = {};
            $scope.showLoading = true;
            $scope.IsDistributor = false;

            $scope.getAccount = function () {
                dbUtilFactory.get(root + 'api/ppcmsapi/GetAccountFromSessionData/', "", function (d) {
                    $scope.Account = d;
                    $scope.IsDistributor = angular.lowercase($scope.Account.PartnerType) == 'distributor';
                    
                }, '', 'Error getting data ');
            };
            $scope.getAccount();

            $scope.formatDate = function(date, format) {
                if (date == undefined)return '';
                return $.format.date(new Date(date), format);
            };

            $scope.ShowSingleRequest = function (item) {
                $scope.RecentRequest = item;
                $scope.AllView = false;
                $scope.SingleView = true;
            };
            $scope.ShowAllRequest = function (item) {
                $scope.RecentRequest = {};
                $scope.AllView = true;
                $scope.SingleView = false;
            };

            $scope.getRecentRequests = function() {
                dbUtilFactory.get(root + 'api/ppcmsapi/GetRecentRequestsFromSessionData/', "", function (d) {
                    $scope.RecentRequests = d;
                    $("#oppContainer").show();
                    $("#loadingContainer").hide();
                    //for (var i = 0; i < d.length; i++) {
                    //    if (d[i].TotalOpportunityQuantity) {
                    //        $scope.TotalUnits += d[i].TotalOpportunityQuantity;
                    //    }
                    //}
                    $scope.showLoading = false;
                }, '', 'Error getting data ');
            };
            $scope.getRecentRequests();

            $scope.GoToRequestRebate = function() {
                window.location.href = root + "Pages/RequestRebate";
            };

            $scope.doFilter = function (row) {
                return ((row.PurchasedOnBehalfOf != null) && (angular.lowercase(row.PurchasedOnBehalfOf).indexOf(angular.lowercase($scope.query) || '') !== -1) ||
                   ((row.DPN != null) && (angular.lowercase(row.DPN).indexOf(angular.lowercase($scope.query)) || '') !== -1));
            }

            //$scope.reloadOpportunity = function () {
            //    $("#loadingContainer").show();
            //    $("#oppContainer").hide();
            //    dbUtilFactory.get(root + 'api/ppcmsapi/ReloadOpportunity/', "", function (d) {
            //        $scope.Opportunities = d;
            //        $("#oppContainer").show();
            //        $("#loadingContainer").hide();
            //        for (var i = 0; i < d.length; i++) {
            //            if (d[i].TotalOpportunityQuantity) {
            //                $scope.TotalUnits += d[i].TotalOpportunityQuantity;
            //            }
            //        }
            //        $scope.showLoading = false;
            //    }, '', 'Error getting data ');
            //}
        });
    </script>
