IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.COLUMNS WHERE  TABLE_NAME = 'tblCompany' AND COLUMN_NAME = 'IsCompanySCSLogo') 
 BEGIN
	 ALTER TABLE [dbo].[tblCompany] ADD [IsCompanySCSLogo] BIT NOT NULL DEFAULT (0);
 END

 IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.COLUMNS WHERE  TABLE_NAME = 'tblCompany' AND COLUMN_NAME = 'Description') 
 BEGIN
	 ALTER TABLE [dbo].[tblCompany] ADD [Description] nvarchar(MAX) NULL;
 END