<template id="full_width_container_template">
    <div class="item-wrapper sortable-element drag-element fusion_full_width fusion_layout_column item-container sort-container ui-draggable ui-draggable-handle" id="full_width_container_holder_" data-elementType ="full_width_container"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <span class="grid_width">Full Width Container</span>
            <div class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_" class="edit-element" href="javascript:void(0);" title="Edit Element" onclick="editElement(this)"><i class="fusiona-pen"></i></a>
                <a id="clone_element_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick="cloneElement(this)"><i class="fusiona-file-add"></i></a>
                <a id="delete_element_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick="deleteElement(this)"><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element" data-ObjId="full_width_container_editor" id="full_width_container_editor_" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>

</template>

<template id="grid_one_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_one grid_one_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_one_container_holder_" data-elementType ="grid_one"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!-- <a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_77795941-7133-8c28-1758-10037c8da1d9" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_77795941-7133-8c28-1758-10037c8da1d9" title="Increase width"><i class="fusiona-plus2"></i></a>-->
            <span class="grid_width">1/1</span>
            <div id="simple_option" class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_1_" class="edit-element" href="javascript:void(0);" title="Edit Element" onclick=" editElement(this)"><i class="fusiona-pen"></i></a>
                <a id="clone_element_1_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this)"><i class="fusiona-file-add"></i></a>
                <a id="delete_element_1_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_one_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_one_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>

</template>

<template id="grid_two_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_two grid_two_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_two_container_holder_" data-elementType ="grid_two"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!-- <a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_f3e31f62-83f2-1a73-cbe0-eeaade17c36a" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_f3e31f62-83f2-1a73-cbe0-eeaade17c36a" title="Increase width"><i class="fusiona-plus2"></i></a>-->
            <span class="grid_width">1/2</span>
            <div id="simple_option_1" class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_2_" class="edit-element" href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_2_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_2_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_two_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_two_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
</template>

<template id="grid_three_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_three grid_three_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_three_container_holder_" data-elementType ="grid_three"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_09d77626-2b9d-6d0a-f35f-b09568bc9f24" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_09d77626-2b9d-6d0a-f35f-b09568bc9f24" title="Increase width"><i class="fusiona-plus2"></i></a> -->
            <span class="grid_width">1/3</span>
            <div id="simple_option_2" class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_3_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_3_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_3_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_three_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_three_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    </div>
</template>

<template id="grid_two_third_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_two_third grid_two_third_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_two_third_container_holder_" data-elementType ="grid_two_third"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_fd361c06-7a8d-6920-a8de-89fd457c6101" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_fd361c06-7a8d-6920-a8de-89fd457c6101" title="Increase width"><i class="fusiona-plus2"></i></a> -->
            <span class="grid_width">2/3</span>
            <div id="simple_option_2_3" class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_2_3_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_2_3_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_2_3_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_two_third_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_two_third_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
</template>

<template id="grid_four_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_four grid_four_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_four_container_holder_" data-elementType ="grid_four"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_8d6ed6ca-a113-9035-e48d-0bf1cc61434b" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_8d6ed6ca-a113-9035-e48d-0bf1cc61434b" title="Increase width"><i class="fusiona-plus2"></i></a> -->
            <span class="grid_width">1/4</span>
            <div id="simple_option_4" class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_4" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_4_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_4_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_four_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_four_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    </div>
</template>

<template id="grid_three_fourth_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_three_fourth grid_three_fourth_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_three_fourth_container_holder_" data-elementType ="grid_three_fourth"  draggable="true" ondragstart="drag(event)">
		<div class="handler pop-up-element menu-item-handle">
			<!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_273c4623-78cc-ef7e-eb2f-5985bf6d7ef5" title="Decrease width"><i class="fusiona-minus"></i></a>
			<a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_273c4623-78cc-ef7e-eb2f-5985bf6d7ef5" title="Increase width"><i class="fusiona-plus2"></i></a> -->
			<span class="grid_width">3/4</span>
			<div id="simple_option_3_4" class="fusion-columns-options fusion-builder-element "> 
				<a id="edit_element_3_4_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
			    <a id="clone_element_3_4_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
			    <a id="delete_element_3_4_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
			</div>
		</div>
		<div class="innerElement editable-element ui-droppable" data-ObjId="grid_three_fourth_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_three_fourth_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
</template>

<template id="grid_five_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_five grid_five_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_five_container_holder_" data-elementType ="grid_five"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_d4ff995b-2ffc-e2ab-4623-07be6171822d" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_d4ff995b-2ffc-e2ab-4623-07be6171822d" title="Increase width"><i class="fusiona-plus2"></i></a> -->
            <span class="grid_width">1/5</span>
            <div id="simple_option_5" class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_5_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_5_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_5_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_five_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_five_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
</template>

<template id="grid_two_fifth_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_two_fifth grid_two_fifth_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_two_fifth_container_holder_" data-elementType ="grid_two_fifth"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_56e664dd-1732-14e2-4b80-da18efab46fa" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_56e664dd-1732-14e2-4b80-da18efab46fa" title="Increase width"><i class="fusiona-plus2"></i></a> -->
            <span class="grid_width">2/5</span>
            <div id="simple_option_2_5" class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_2_5_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_2_5_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_2_5_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_two_fifth_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_two_fifth_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
</template>

<template id="grid_three_fifth_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_three_fifth grid_three_fifth_holder  item-container sort-container ui-draggable ui-draggable-handle" id="grid_three_fifth_container_holder_" data-elementType ="grid_three_fifth"  draggable="true" ondragstart="drag(event)">

        <div class="handler pop-up-element menu-item-handle">
            <!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_b13e4142-e5db-837f-22dc-ad2952d2da83" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_b13e4142-e5db-837f-22dc-ad2952d2da83" title="Increase width"><i class="fusiona-plus2"></i></a>-->
            <span class="grid_width">3/5</span>
            <div id="simple_option_3_5" class="fusion-columns-options fusion-builder-element ">
                <a id="editedit_element_3_5_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_3_5_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_3_5_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_three_fifth_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_three_fifth_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    </div>
</template>

<template id="grid_four_fifth_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_four_fifth grid_four_fifth_holder item-container sort-container ui-draggable ui-draggable-handle" data-elementType ="grid_four_fifth"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_fc9affe6-8e0b-78c7-c0a8-de1c7c74c6f9" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_fc9affe6-8e0b-78c7-c0a8-de1c7c74c6f9" title="Increase width"><i class="fusiona-plus2"></i></a> -->
            <span class="grid_width">4/5</span>
            <div id="simple_option_4_5" class="fusion-columns-options fusion-builder-element ">
                <a id="editedit_element_4_5_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_4_5_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_4_5_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_four_fifth_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_four_fifth_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    </div>
</template>

<template id="grid_six_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_six grid_six_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_six_container_holder_" data-elementType ="grid_six"  draggable="true" ondragstart="drag(event)">
        <div class="handler pop-up-element menu-item-handle">
            <!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_20aaecef-05a8-e04e-803a-1d260127262e" title="Decrease width"><i class="fusiona-minus"></i></a>
            <a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_20aaecef-05a8-e04e-803a-1d260127262e" title="Increase width"><i class="fusiona-plus2"></i></a> -->
            <span class="grid_width" style="margin:5px 0 0 4px">1/6</span>
            <div id="simple_option_6" class="fusion-columns-options fusion-builder-element ">
                <a id="edit_element_6_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
                <a id="clone_element_6_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
                <a id="delete_element_6_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
            </div>
        </div>
        <div class="innerElement editable-element ui-droppable" data-ObjId="grid_six_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_six_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    </div>
</template>

<template id="grid_five_sixth_template">
    <div class="item-wrapper sortable-element drag-element fusion_layout_column grid_five_sixth grid_five_sixth_holder item-container sort-container ui-draggable ui-draggable-handle" id="grid_five_sixth_container_holder_" data-elementType ="grid_five_sixth"  draggable="true" ondragstart="drag(event)">
		<div class="handler pop-up-element menu-item-handle">
			<!--<a class="decrease-width change-width" href="javascript:void(0);" id="decrease-width-fusionb_9fb7ec85-d7fe-76af-dfc8-657bb2b5cadc" title="Decrease width"><i class="fusiona-minus"></i></a>
			<a class="increase-width change-width" href="javascript:void(0);" id="increase-width-fusionb_9fb7ec85-d7fe-76af-dfc8-657bb2b5cadc" title="Increase width"><i class="fusiona-plus2"></i></a> -->
			<span class="grid_width">5/6</span>
			<div id="simple_option_5_6" class="fusion-columns-options fusion-builder-element "> 
				<a id="edit_element_5_6_" class="edit-element " href="javascript:void(0);" title="Edit Element" onclick=" editElement(this) "><i class="fusiona-pen"></i></a>
				<a id="clone_element_5_6_" class="clone-element" href="javascript:void(0);" title="Clone Element" onclick=" cloneElement(this) "><i class="fusiona-file-add"></i></a>
				<a id="delete_element_5_6_" class="delete-element" href="javascript:void(0);" title="Delete Element" onclick=" deleteElement(this) "><i class="fusiona-trash-o"></i></a>
			</div>
		</div>
		<div class="innerElement editable-element ui-droppable" data-ObjId="grid_five_sixth_container_editor" style="border: 1px solid #E1E1E1 !important; margin: 0 !important;" id="grid_five_sixth_container_editor_" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
			
	</div>
</template>