@{
    ViewBag.Title = "Create Hybrid Page Sections Using CMS";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

@section featured {
}
@section scripts
{
  
    <style>
        .ui-button-text {
            font-size: 1.4rem;
        }
    </style>
    <script>

    </script>
}
@section MainContent {
    <div ng-controller="PageCMSController">
        <div id="display" ng-hide="showOperations">
            <input type="button" id="submitButton" class="btn btn-primary" ng-click="addPage()" value="Create New Page Section" style="width: auto; margin-top: 10px; box-shadow: 4px 4px 5px #888888;"/>
            <div class="divFullBorderCMS"></div>
            <div class="leftFloat width99p paddingtop10 paddingleft1p" style="background-color: rgb(234, 234, 234);">
                <div class="leftFloat width99p">
                    <div class="leftFloat width100p">
                        <div class="leftFloat width5p paddingtop5"><b>Filter</b>
                        </div>
                        <div class="leftFloat width93p paddingleft2p">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 10%;">Any:</td>
                                    <td><input class="form-control width80p" style="padding: 5px;" ng-model="searchText.SearchTextGlobal"/></td>
                                </tr>
                                <tr>
                                    <td>Title:</td>
                                    <td><input class="form-control width80p" style="padding: 5px;" ng-model="searchText.Title"/></td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td><input class="form-control width80p" style="padding: 5px;" ng-model="searchText.Description"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="leftFloat width100p">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr style="color: #428bca; cursor: pointer;">
                                <td style="padding: 5px; background-color: #007BA3; color: #ffffff; height: 30px; font-weight: bold; width: 30px;">&nbsp;</td>
                                <td style="padding-left: 10%; text-align: right !important; border: none;">
                                    <table style="cursor: pointer; text-align: left; border: none; width: 80%; table-layout: fixed; word-wrap: break-word;">
                                        <tr style="text-align: left;">

                                            <th ng-click="predicate = 'PartPageName'; reverse=!reverse" style="cursor: pointer;">Page Title</th>
                                            <th ng-click="predicate = 'Description'; reverse=!reverse" style="cursor: pointer;">Description</th>
                                            <th ng-click="predicate = 'CreateDate'; reverse=!reverse" style="cursor: pointer;">Create Date</th>
                                            @*<th ng-click="predicate = 'Status'; reverse=!reverse" style="cursor: pointer;">Status</th>*@
                                            <th style="cursor: pointer;">Permlink</th>
                                            <th style="text-align: center;">Action</th>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                            </thead>

                            <tbody>
                            <tr ng-repeat-start="page in (FilteredPageList = (PageList | filter : filterName))" ng-class-odd="'daycolodd'" ng-class-even="'daycoleven'" ng-hide="page.HideThisRow">
                                <td style="padding: 5px;">
                                    <button type="button" ng-click="SetRowClickedPageId(page)">
                                        <span ng-bind="page.Expanded ? '-' : '+'"></span>
                                    </button>
                                </td>
                                <td style="padding: 5px;">
                                    <div >{{page.PageTitle}}</div>
                                </td>
                            </tr>

                            <tr ng-repeat-end="" style="text-align: right !important; border-bottom: none;" ng-show="page.Expanded">
                                <td style="padding: 5px; text-align: right !important; border: none;">&nbsp;
                                </td>

                                <td style="padding-left: 10%; text-align: right !important; border: none;">
                                    <table style="cursor: pointer; text-align: left; width: 80%; table-layout: fixed; word-wrap: break-word;">
                                        <tr style="text-align: left;">
                                            <td style="padding: 5px; width: 150px;" ng-click="updatePage(page)">{{page.Title}}</td>
                                            <td style="width: 10px;">&nbsp;</td>
                                            <td style="padding: 5px; width: 120px;" ng-click="updatePage(page)">{{page.Description}}</td>
                                            <td style="width: 10px;">&nbsp;</td>
                                            <td style="padding: 5px;">{{formatDate(page.CreateDate,'MMM dd yyyy')}}</td>
                                            <td style="width: 10px;">&nbsp;</td>
                                            <td style="padding: 5px; font-size: 14pt; color: #ffffff; width: 80px; text-align: center;" ng-click="updatePage(page)">
                                                <a href="#" style="color: #835000;"><i class="fa fa-eye"></i></a>
                                            </td>

                                            <td style="padding: 5px; font-size: 14pt; color: #ffffff; width: 80px; text-align: center;" ng-click="DeletePageSection(page)">
                                                <a href="#" style="color: #FB1800;"><i class="fa fa-scissors"></i></a>
                                            </td>

                                        </tr>

                                    </table>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </div>
        </div>
        <div id="operation" ng-show="showOperations">
            <div style="width: 100%; height: 30px; font-size: 20pt; font-weight: bold; color: #2F6A79; text-shadow: 4px 4px 4px #BCBEBF; padding-top: 15px;">
                &nbsp;&nbsp;Create the html for Page
            </div>
            <div class="divFullBorderCMS"></div>
            <input type="button" id="saveContent" class="btn btn-primary" ng-click="saveContent()" value="Save Page" style="width: 100px; margin-top: 10px;">
           @* <input type="button" id="saveCustomTemplate" class="btn btn-primary" ng-click="saveCustomTemplate()" value="Save Custom Template" style="width: 200px; margin-top: 10px;">*@
            <input type="button" id="cancelSaveContent" class="btn btn-primary" ng-click="cancelSaveContent()" value="Cancel" style="width: 100px; margin-top: 10px;">
           @* <input type="button" id="manageMetaTags" class="btn btn-primary" ng-click="OpenMetaTagManagementModal()" ng-disabled="disableMetaTagManagement()" value="Manage Meta Tags" style="width: 150px; margin-top: 10px;">*@
            <input type="hidden" ng-model="cmsData.Id" value="{{cmsData.Id}}" id="hdnPageId"/>
            <div class="leftFloat width100p paddingtop10">
                <div class="leftFloat width10p paddingtop5" style="font-size: 18px;"><b>Page</b>
                </div>
                <div class="leftFloat width85p paddingleft2p">
                    <select class="form-control " style="width: 81%; padding: 5px; height: 38px;" ng-model="cmsData.PageId" ng-change="PageChoosen()">
                        <option ng-repeat="x in HybridPageList" value="{{x.Id}}">{{x.Title}}</option>
                    </select>

                </div>
            </div>

            <div class="leftFloat width100p paddingtop10">
                <div class="leftFloat width10p paddingtop5" style="font-size: 18px;"><b>Order</b>
                </div>
                <div class="leftFloat width85p paddingleft2p">
                    <select class="form-control " style="width: 81%; padding: 5px; height: 38px;" id="SectionOrder">
                        <option ng-repeat="x in SectionsOrders" ng-selected ="x.IsSelected" value="{{x.Id}}">{{x.Title}}</option>
                    </select>
                </div>
            </div>


            <div class="leftFloat width100p paddingtop10">
                <div class="leftFloat width10p paddingtop5" style="font-size: 18px;"><b>Title</b>
                </div>
                <div class="leftFloat width85p paddingleft2p">
                    <input class="form-control " style="width: 80%; padding: 5px;" ng-model="cmsData.Title" ng-required="required"/>
                </div>
            </div>
           
            <div class="leftFloat width100p paddingtop10 paddingbottom10">
                <div class="leftFloat width10p paddingtop5" style="font-size: 18px;"><b>Description</b>
                </div>
                <div class="leftFloat width85p paddingleft2p">
                    <input class="form-control " style="width: 80%; padding: 5px;" ng-model="cmsData.Description"/>
                </div>
            </div>
            @*<div class="leftFloat width100p paddingtop10 paddingbottom10" style="display: none;">
                <div class="leftFloat width10p paddingtop5" style="font-size: 18px;"><b>Languages</b>
                </div>
                <div class="leftFloat width85p paddingleft2p">
                    <div class="leftFloat width15p" style="font-size: 20px;">
                        <b>English</b>&nbsp;&nbsp;<input type="checkbox" ng-model="cmsData.SitesArray.English" style="width: 20px; height: 20px;"/>
                    </div>
                    <div class="leftFloat width15p" style="font-size: 20px;">
                        <b>Espanol</b>&nbsp;&nbsp;<input type="checkbox" ng-model="cmsData.SitesArray.Espanol" style="width: 20px; height: 20px;"/>
                    </div>
                    <div class="leftFloat width15p" style="font-size: 20px;">
                        <b>Portuguese</b>&nbsp;&nbsp;<input type="checkbox" ng-model="cmsData.SitesArray.Portugese" style="width: 20px; height: 20px;"/>
                    </div>

                </div>
            </div>*@
            <div class="leftFloat width100p divFullBorderCMS"></div>
            @Html.Action("Editor", "Dashboard")
        </div>
    </div>
     <div id="dialog_metaTag" style="display: none;"></div>
}

@section AngularScripts
{
    <style>
        .the-modal .modal-content {
            width: 1200px;
            height: 800px;
        }
    </style>

    <script src="~/Scripts/MetaTagModalManagement.js"></script>
    <script>
        //function OpenMetaTagDialog() {
        //    $("#dialog_metaTag").empty();
        //    var template = "/Templates/CMS/MetaTagModalTemplate.html";
        //    $("#dialog_metaTag").load(template);
        //    var dialog = $("#dialog_metaTag").dialog({
        //        autoOpen: false,
        //        width: "96%",
        //        modal: true,
        //        resizable: false,
        //        position: [30, 30],
        //        dialogClass: "no-titlebar",
        //        create: function (event) { $(event.target).parent().css('position', 'fixed'); $(".ui-widget-header").hide(); },
        //        open: function () { $(".ui-widget-header").hide(); },
        //        close: function () {
        //            $(".ui-widget-header").show();
        //        }
        //    });
        //    dialog.dialog("open");
        //}

        app.controller("PageCMSController", function($controller, $scope, $http, $rootScope, SweetAlert,
            notificationFactory, $location,
            validationFactory, filterFilter, helperFactory, dbUtilFactory, $window, $modal, $log) {


            $scope.cmsData = {};
            $scope.showOperations = false;
            $scope.PageList = [];
            $scope.HybridPageList = [];
            $scope.FilteredPageList = [];
            $scope.SectionsOrders = [];
            $scope.PageType = 3;
            $scope.PageSectionType = 4;
            $scope.cmsData.LayoutType = "1";
            $scope.pageMode = 1;
            $scope.cmsData.Id = 0;
            $scope.cmsData.SitesArray = {
                English: false,
                Espanol: false,
                Portugese: false
            };
            $scope.cmsData.Sites = "";
            $scope.formatDate = function(date, format) {
                if (date == undefined)return '';
                return $.format.date(new Date(date), format);
            };

            $scope.PageChoosen = function() {
                var count = 0;
                $scope.SectionsOrders = [];
                for (var i = 0; i < $scope.PageList.length; i++) {
                    if ($scope.PageList[i].PageId == $scope.cmsData.PageId) {
                        count = count + 1;
                    }
                }
                var selectedSet = false;
                for (var i = 0; i <= count; i++) {
                    var obj = {};
                    obj.Id = i + 1;
                    obj.Title = i + 1;
                    obj.IsSelected = false;
                    if (obj.Id == $scope.cmsData.SectionOrder) {
                        obj.IsSelected = true;
                        selectedSet = true;
                    }
                    $scope.SectionsOrders.push(obj);
                };

                if (!selectedSet) {
                    $scope.SectionsOrders[count].IsSelected = true;
                }

            }

            $scope.addPage = function() {
                $scope.showOperations = true;
                $scope.SectionsOrders = [];
                $scope.cmsData = {};
                $scope.cmsData.Id = 0;
                $scope.cmsData.LayoutType = "1";
                $scope.cmsData.PageType = $scope.PageType;
                $scope.cmsData.Status = 1;
                $scope.pageMode = 1;
                $scope.cmsData.IsTemplate = false;
                $scope.cmsData.SitesArray = {
                    English: false,
                    Espanol: false,
                    Portugese: false
                };
                $scope.cmsData.Sites = "";
                initEditor();
            };
            $scope.cancelSaveContent = function() {
                $scope.showOperations = false;
                $scope.cmsData = {};
                $scope.SectionsOrders = [];
                $scope.pageMode = 1;
            }
            $scope.updatePage = function(page) {

                $scope.showOperations = true;
                $scope.cmsData = page;
                //$scope.cmsData.SitesArray = {
                //    English: page.Sites.indexOf('EN') > 0,
                //    Espanol: page.Sites.indexOf('ES') > 0,
                //    Portugese: page.Sites.indexOf('PT') > 0
                //};
                $scope.cmsData.Sites = page.Sites;
                editorContent = page.PageJson;
                $scope.PageChoosen();
              //  if (editorContent.Children.length > 0) {
                    parseFullObject();
             //   }

                

                $scope.pageMode = 2;
            };

            $scope.SetRowClickedPageId = function(page) {
                var result = $.grep($scope.PageList, function(e) { return e.PageId == page.PageId });
                $(result).each(function(key, value) {
                    value.Expanded = !value.Expanded;
                });
            }

            //$scope.disableMetaTagManagement = function() {
            //    if ($scope.cmsData.Id <= 0) {
            //        return true;
            //    }
            //    if ($scope.cmsData.IsTemplate) {
            //        return true;
            //    }
            //    if ($scope.cmsData.IsCustomTemplate) {
            //        return true;
            //    }
            //    return false;
            //}
            $scope.previewPage = function(page) {
                //alert(pageUrl);
                window.open(pageUrl + "/" + page.Title, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=" + screen.width + ",height=" + screen.height);
            }
            $scope.pageUrl = function(page) {
                //alert(pageUrl);
                return pageUrl + "/" + page.Id;
            }
            $scope.getHybridPageList = function() {
                dbUtilFactory.get(root + '/api/pppageinfo/GetPageList/', $scope.PageType, function (d) {
                    $scope.HybridPageList = d;
                }, '', 'Error getting data ');
            };
            $scope.getPageSectionList = function() {
                dbUtilFactory.get(rootUrl + 'api/ppcmsapi/GetHybridPageSections', "", function (d) {
                    $scope.PageList = d;

                }, '', 'Error getting data ');
            };
            $scope.getPageSectionList();
            $scope.getHybridPageList();

            $scope.saveContent = function() {
                if ($scope.cmsData.Title == undefined || $scope.cmsData.Title === '') {
                    SweetAlert.swal({
                        title: "Required Field Missing?",
                        text: "Page title is required. Please fill up page title.",
                        type: "warning"
                    });
                    return;
                }

                if ($scope.cmsData.PageId == undefined || $scope.cmsData.PageId === '') {
                    SweetAlert.swal({
                        title: "Required Field Missing?",
                        text: "Please select parent page.",
                        type: "warning"
                    });
                    return;
                }
                var sites = "";
                $scope.cmsData.Sites = sites;
                $scope.cmsData.PageType = 4;
                $scope.cmsData.IsTemplate = false;
                $scope.cmsData.IsCustomTemplate = false;
                $scope.cmsData.PageJson = editorContent;

                $scope.cmsData.SectionOrder = document.getElementById("SectionOrder").value;

                dbUtilFactory.postp(root + '/api/pppageinfo/SavePage', $scope.cmsData, function (d) {
                    $scope.getPageSectionList();
                    SweetAlert.swal(d, "", "success");
                    if ($scope.pageMode == 1 && $scope.cmsData.IsTemplate == true) {
                        window.location.href = window.location.href;
                    }
                }, '', 'Error getting data ');
            };

            $scope.DeletePageSection = function (page) {
                SweetAlert.swal({
                    title: "Are you sure?",
                    text: "You are going to delete the page section. The action can not be reverted back.",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete the page section.",
                    closeOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            dbUtilFactory.postp(root + '/api/pppageinfo/Delete/', page, function (d) {
                                $scope.getPageSectionList();
                                SweetAlert.swal(d, "", "success");
                                window.location.href = window.location.href;
                            }, '', 'Error getting data ');
                        }
                    });
            };
            //$scope.OpenMetaTagManagementModal = function() {
            //    var modalInstance = $modal.open({
            //        animation: $scope.animationsEnabled,
            //        templateUrl: "/Templates/CMS/MetaTagModalTemplate.html",
            //        controller: 'CMSMetaTagModalManagementController',
            //        windowClass: 'the-modal',
            //        // resolve: { PageId: function () { return $scope.cmsData.Id; } }
            //    });
            //    //modalInstance.result.then(function (PageId) {
            //    //    //$scope.SelectedUserId = SelectedUserId;
            //    //  //  $scope.Init();
            //    //}, function () {
            //    //   // $log.info('Modal dismissed at: ' + new Date());
            //    //  //  $scope.Init();
            //    //});
            //}
        });
    </script>
}

