@{
    ViewBag.Title = "Manage Menu Permission";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

@section featured {
}
@section scripts
{
  
    <style>
        .ui-button-text {
            font-size: 1.4rem;
        }
    </style>
    <script>

    </script>
}
@section MainContent {
    <div ng-controller="MenuPermissionController">
        <div id="display">
            <div class="divFullBorderCMS" style="font-size: 22pt; background-color: #4f7db4; color: #ffffff; height: 40px; padding-top: 10px; padding-left: 10px;">Manage Menu Permission</div>
            <div class="leftFloat width99p paddingtop10 paddingleft1p" style="background-color: rgb(234, 234, 234);">
                <div class="leftFloat width99p">
                    <div class="leftFloat width100p">
                        <div class="leftFloat width5p paddingtop5">
                        </div>
                        <div class="leftFloat width93p paddingleft2p">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 10%;">Filter:</td>
                                    <td><input class="form-control width80p" style="padding: 5px;" ng-model="filterName"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="leftFloat width100p">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr style="color: #428bca; cursor: pointer;">
                                <td style="padding: 5px; background-color: #007BA3; color: #ffffff; height: 30px; font-weight: bold; width: 30px;">&nbsp;</td>
                                <td style="text-align: left !important; border: none;">
                                    <table style="cursor: pointer; text-align: left; border: none; width: 80%; table-layout: fixed; word-wrap: break-word;">
                                        <tr style="text-align: left;">
                                            <th ng-click="predicate = 'PartPageName'; reverse=!reverse" style="cursor: pointer; text-align: left;">Menu</th>
                                        </tr>

                                    </table>
                                </td>
                                <td style="width: 150px;">&nbsp;</td>
                            </tr>

                            </thead>

                            <tbody>
                            <tr ng-repeat-start="menu in MenuList | filter : filterName | orderBy : predicate:reverse" ng-class-odd="'daycolodd'" ng-class-even="'daycoleven'">
                                <td style="padding: 5px;">
                                    <button type="button" ng-click="SetRowClickedMenuId(menu)">
                                        <span ng-bind="menu.Expanded ? '-' : '+'"></span>
                                    </button>
                                </td>
                                <td style="padding: 5px;">
                                    <div >{{menu.DisplayTitle}}</div>
                                </td>
                                <td style="width: 150px;">&nbsp;</td>
                            </tr>

                            <tr ng-repeat-end="" style="text-align: right !important; border-bottom: none;" ng-show="menu.Expanded">
                                <td style="padding: 5px; text-align: right !important; border: none;">&nbsp;
                                </td>

                                <td style="border: 1px solid #000000; background-color: #c0c0c0; min-height: 80px;">
                                    <div ng-repeat="perm in menu.PartnerTypes" style="min-width: 150px; float: left; border: 1px solid #000000; height: 40px; background-color: #ffffff; margin: 10px; padding: 10px;">
                                        <table style="width: 100%">
                                            <tr>
                                                <td>
                                                    <b>{{perm.PartnerType}}</b>&nbsp;&nbsp;
                                                </td>
                                                <td style="width: 30px;">
                                                    <input type="checkbox" ng-model="perm.IsAssigned" style="width: 20px; height: 20px;"/>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </td>

                                <td style="width: 150px;">
                                    <input type="button" id="submitButton" class="btn btn-primary" ng-click="savePermission(menu)" value="Save Permission" style="width: auto; margin-top: 10px; box-shadow: 4px 4px 5px #888888;"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section AngularScripts
{
    <script>
        app.controller("MenuPermissionController", function ($controller, $scope, $http, $rootScope, SweetAlert,
            notificationFactory, $location,
            validationFactory, filterFilter, helperFactory, dbUtilFactory, $window, $modal, $log) {


            $scope.MenuList = [];

            $scope.SetRowClickedMenuId = function (menu) {
                var result = $.grep($scope.MenuList, function (e) { return e.Id == menu.Id });
                $(result).each(function (key, value) {
                    value.Expanded = !value.Expanded;
                });
            }

            $scope.getMenuList = function () {
                dbUtilFactory.get(root + 'api/ppcmsapi/GetMenuListForPermission', "", function (d) {
                    $scope.MenuList = d;

                }, '', 'Error getting data ');
            };
            $scope.getMenuList();


            $scope.savePermission = function (menu) {
                var perms = "";

                for (var i = 0; i < menu.PartnerTypes.length; i++) {
                    if (menu.PartnerTypes[i].IsAssigned) {
                        if (perms == "") {
                            perms = menu.PartnerTypes[i].PartnerType;
                        } else {
                            perms = perms + "," + menu.PartnerTypes[i].PartnerType;
                        }
                    }
                }
                menu.AllowedPartnerTypes = perms;
                dbUtilFactory.postp(root + 'api/ppcmsapi/SaveMenuPermission', menu, function (d) {
                    $scope.getMenuList();
                    SweetAlert.swal("Permission Saved");
                }, '', 'Error getting data ');
            };

            
        });
    </script>
}

