@{
    ViewBag.Title = "Site Password Generation Email";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

@section featured {
}
@section scripts
{
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <style>
        .ui-button-text {
            font-size: 1.4rem;
        }
    </style>
    <script>


//Start tinymce
        var partnerType;
        tinymce.remove();
        tinymce.init({
            selector: '#textTextBoxTemplateArea',
            plugins: ['hr link fullscreen table textcolor charmap template code wordcount'],
            menubar: 'false',
            toolbar: 'bold italic strikethrough underline fontsizeselect | bullist numlist blockquote hr alignleft aligncenter alignright alignjustify outdent indent | link unlink fullscreen table styleselect forecolor | removeformat charmap undo redo template code',
            fontsize_formats: '8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24px 32px 36px',
            templates: [
                {
                    title: 'Test template 1',
                    content: 'Test 1'
                }, {
                    title: 'Test template 2',
                    content: 'Test 2'
                }
            ],
            table_default_styles: {
                width: '100%'
            },
            init_instance_callback: 'setEditor'
        });

        function setEditor() {
                //$.ajax({
                //    type: 'GET',
                //    url: rootUrl + 'api/ppcmsapi/GetConfigValue/PasswordEmailBody',
                //    success: function (data) {
                //        if (data != undefined && data != null) {
                //            tinymce.get('textTextBoxTemplateArea').setContent(data);
                //        }
                //    },
                //    error: function (data) {
                //    }
                //});
            
        }
        //$(document).ready(function () {
        //    $.ajax({
        //        type: 'GET',
        //        url: rootUrl + 'api/ppcmsapi/GetConfigValue/PasswordEmailBody',
        //        success: function (data) {
        //            if (data != undefined) {
        //                tinymce.get('textTextBoxTemplateArea').setContent(data);
        //            }
        //        },
        //        error: function (data) {
        //        }
        //    });

        //});
        //End tinymce
    </script>
}
@section MainContent {
    <div ng-controller="PageCMSController">
        <div style="width: 100%; height: 30px; font-size: 20pt; font-weight: bold; color: #2F6A79; text-shadow: 4px 4px 4px #BCBEBF; padding-top: 15px;">
            &nbsp;&nbsp;Configure Password Email
        </div>
        <br /><br />
        <div class="leftFloat width100p paddingtop10">
            <div class="leftFloat width10p paddingtop5" style="font-size: 18px;">
                <b>Email Subject</b>
            </div>
            <div class="leftFloat width85p paddingleft2p">
                <input type="text" ng-model="Subject" style="width: 90%; padding: 5px; border: 1px solid black; border-radius: 5px;" />
            </div>
        </div>
        <div class="leftFloat width100p paddingtop10">
            <div class="leftFloat width10p paddingtop5" style="font-size: 18px;">
                <b>Partner Type</b>
            </div>
            <div class="leftFloat width85p paddingleft2p">
                <select class="form-control " style="width: 91%; padding: 5px; height: 38px;" ng-model="PartnerType" ng-change="PartnerTypeChanged()">
                    <option ng-repeat="x in PartnerTypes" value="{{x}}">{{x}}</option>
                </select>

            </div>
        </div>
        <div style="display:inline-block;background-color:darkgray;height:2px;width:100%;margin-bottom:10px;margin-top:10px;"></div>
        <div class="leftFloat width99p paddingtop5">
            <h3>Email Body<span style="font-size:9pt;cursor:pointer;text-decoration:underline;" ng-click="LoadDefaultContent()">(Load Default)</span></h3>(Please mark Name, User Name and Password as <b>[Name]</b>, <b>[UserName]</b> and <b>[Password]</b>. Otherwise username and password will not be included in sent email.)
        </div>

        <div class="leftFloat width99p paddingtop5">
            <textarea id="textTextBoxTemplateArea" class="objectProperty" style="width: 100%; height: 200px; padding-top: 20px;" data-propertyindex="353"></textarea>
        </div>
        <br />
        <input type="button" id="saveContent" class="btn btn-primary" ng-click="saveContent()" value="Save Page" style="width: 100px; margin-top: 10px;">

    </div>

}

@section AngularScripts
{
    <script>
        app.controller("PageCMSController", function ($controller, $scope, $http, $rootScope, SweetAlert,
            notificationFactory, $location,
            validationFactory, filterFilter, helperFactory, dbUtilFactory, $window, $modal, $log) {

            $scope.Subject = "";
            $scope.PartnerType = "";
            $scope.PartnerTypes = [];

            $scope.PartnerTypeChanged = function () {
                if (tinymce.get('textTextBoxTemplateArea') == null) {
                    return setTimeout(function () { $scope.PartnerTypeChanged(); }, 1000);
                }
                url = rootUrl + 'api/ppcmsapi/GetConfigValue/PasswordEmailSubject_' + $scope.PartnerType.toLowerCase().replace("partner", "").replace(" ", "");

                dbUtilFactory.get(url, "", function (d) {
                    $scope.Subject = d;
                }, '', 'Error getting data ');

                url = rootUrl + 'api/ppcmsapi/GetConfigValue/PasswordEmailBody_' + $scope.PartnerType.toLowerCase().replace("partner", "").replace(" ", "");

                dbUtilFactory.get(url, "", function (d) {
                    tinymce.get('textTextBoxTemplateArea').setContent(d);
                }, '', 'Error getting data ');
            }
            $scope.LoadDefaultContent = function () {
                url = rootUrl + 'api/ppcmsapi/GetConfigValue/PasswordEmailBody';

                dbUtilFactory.get(url, "", function (d) {
                    tinymce.get('textTextBoxTemplateArea').setContent(d);
                }, '', 'Error getting data ');
            }
            $scope.inIt = function () {

                var url = rootUrl + 'api/ppcmsapi/GetPortalPartnerTypes/';

                dbUtilFactory.get(url, "", function (d) {
                    $scope.PartnerTypes = d;
                    if (d != null && d.length > 0) {
                        $scope.PartnerType = d[0];
                        partnerType = $scope.PartnerType.toLowerCase().replace("partner", "").replace(" ", "");
                    }

                }, '', 'Error getting data ');

                setTimeout(function () { $scope.PartnerTypeChanged(); }, 1000);
                
            }

            $scope.inIt();
            $scope.saveContent = function () {
                $scope.configData = {};
                var partnerTypeKey = $scope.PartnerType.toLowerCase().replace("partner", "").replace(" ", "");

                $scope.configData.ConfigKey = "PasswordEmailSubject_" + partnerTypeKey;
                $scope.configData.ConfigValue = $scope.Subject;


                dbUtilFactory.postp(rootUrl + 'api/ppcmsapi/SetConfigValue/', $scope.configData, function () {
                   
                }, '', 'Error getting data ');

                $scope.configData = {};
                $scope.configData.ConfigKey = "PasswordEmailBody_" + partnerTypeKey;
                $scope.configData.ConfigValue = tinymce.get('textTextBoxTemplateArea').getContent();
                
                dbUtilFactory.postp(rootUrl + 'api/ppcmsapi/SetConfigValue/', $scope.configData, function () {
                    SweetAlert.swal(d, "", "success");
                }, '', 'Error getting data ');


            };

        });
    </script>
}

