 


<div class="modal-header" style="background-color: #005D7C; color: #ffffff; font-size: 16pt; font-weight: bold; height: 30px; box-shadow: 4px 4px 20px #888888;">
    Serial Number Location
</div>

<br/><br/>
<div class="modal-body">
    <img src="/Images/6_LAN_label.jpg"/>

</div>
<br/><br/>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 pull-right">
            <input class="btn  btn-primary" type="button" style="width: 200px; margin-top: 10px; box-shadow: 4px 4px 5px #888888; font-weight: bold; border-radius: 5px;" ng-click="CloseModal()" value="Close"/>
        </div>
    </div>

</div>
