@model PartnerPortal.Models.SiteMapVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/homeScript1.js"></script>
    <script type="text/javascript" src="~/Scripts/homeScript2.js"></script>
}

@section MainContent {
    <div class="hp08w1 siteMap">
        <br/>
        <div style="font-size: 18px; color: #17479E; display: inline-block; clear: left;">Gateway >> Site Map</div>
        <br/>
        <div style="color: #000000; display: inline-block; float: left; background-color: #17479E;width: 100%; height: 4px;">&nbsp;</div>
        <br/>
        <br/>
        <div style='float: left; display: inline-block; float: left; width: 99%;padding-top: 20px;font-size: 10pt;'>
            @Html.Raw(Model.SiteMapHtml)
        </div>

    </div>
    
}

@section FooterContent {
    @Html.Raw(Model.FooterHtml)
}
