<div class="leftFloat width100p" style="font-size: 14px;">
    <div class="leftFloat paddingbottom10 TextAlignCenter footerLeftWidth">
        <div class="leftFloat width100p TextAlignCenter">
            <a href="#">Japan</a> | <a href="#">English - US/CA</a> | <a href="#">Español - LA</a> | <a href="#">Español - MX</a> | <a href="#">Portuguese - BR</a> | <a href="#">Europe</a> | <a href="#">Asia</a> | <a href="#">Southeast Asia</a> | <a href="#">Australia</a>
            <br />
            <a href="#">Subscribe</a> | <a href="#">Careers</a> | <a href="#">Contact Us</a> | <a href="#">Site Maps</a> | <a href="#">Legal</a> | <a href="#">Notices</a> | <a href="#">Terms of Use</a> | <a href="#">Privacy</a> | <a href="#">Cookie Preferences</a>
        </div>
    </div>
    <div class="leftFloat paddingbottom10 TextAlignCenter footerRightWidth">
        <div class="leftFloat width100p TextAlignCenter">
            <div class="leftFloat width4p">&nbsp;</div>
            <div class="leftFloat width16p">
                <a href="http://www.linkedin.com/company/star-micronics" title="linkedin">
                    <div class="leftFloat LinkedIn"></div>
                </a>
            </div>
            <div class="leftFloat width16p">
                <a href="http://www.facebook.com/pages/Star-Micronics/87284275657" title="facebook">
                    <div class="leftFloat facebook"></div>
                </a>
            </div>
            <div class="leftFloat width16p">
                <a href="https://twitter.com/#!/starmicronics" title="twitter">
                    <div class="leftFloat twitter"></div>
                </a>
            </div>
            <div class="leftFloat width16p">
                <a data-shared="sharing-google-193" href="https://www.starmicronics.com/blog/star-technology-day-recap/?share=google-plus-1&amp;nb=1" title="Click to share on Google+">
                    <div class="leftFloat googleplus"></div>
                </a>
            </div>
            <div class="leftFloat width16p">
                <a href="https://www.youtube.com/user/StarMarCom" title="youtube">
                    <div class="leftFloat youtube"></div>
                </a>
            </div>
            <div class="leftFloat width16p">
                <a href="https://www.starmicronics.com/blog/" title="blog">
                    <div class="leftFloat blog"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="leftFloat width100p TextAlignCenter paddingtop10" style="font-style: italic;">
        ©
        <script type="text/javascript">document.write(new Date().getFullYear());</script>
        Star Micronics, Inc. All rights reserved. Reproduction in whole or in part without permission is prohibited.
    </div>
</div>
