@model PartnerPortal.Models.GatewayVM

<style>
    .landingLeftPanel {
        clear: both;
        display: inline-block;
        width: 600px;
        min-height: 400px;
        background-color: #ffffff;
        
    }
    .landingLeftPanelContentBox {
        display: inline-block;
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 40px;
        min-width: 80%;
    }
    .clsTextBoxLanding {
        width: 80% !important;
        border: 0 !important;
        border-bottom: 1px solid black !important;
        min-height: 30px !important;
        padding-left: 15px; padding-right: 15px; margin-right: 1%; box-sizing: border-box;
    }
    .invalidated {
        border-bottom: 1px solid #FF0208 !important;
        background-color: #FFBABC !important;
    }
    .btnLanding {
        background-color: #21459A;
        border: none;
        color: #FFFFFF;
        text-align: center;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        margin: 10px 0 !important;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        height: 40px;
        width: 100%;
    }

</style>

<div class="landingLeftPanel">

    <div style="text-align: center;">
        <div class="landingLeftPanelContentBox">
            <div style="color: #000000; font-size: 26pt; font-weight: bold;letter-spacing: 4px;">
                Partner Portal
            </div>
            <div style="color: #C5C7CA; font-size: 10pt; margin-top: 30px; font-weight: bold;">
                Your password has reset successfully. You can now login with your new credential.
            </div>
            <div style="color: #C5C7CA; font-size: 10pt; margin-top: 10px; font-weight: bold;">
                <div class="leftFloat width100p paddingtop20" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
                    <span style="color: #000000; font-size: 8pt; display: inline-block; text-align: right; width: 45%;">
                        <input type="button" name="forgotPass" class="btnLanding" value="Back to Home" onclick="gotoHome()">
                    </span>
                </div>
                <div class="leftFloat width100p paddingtop20" style="margin-top: 20px; font-size: 6pt;">
                    <a href="https://www.starmicronics.com/pages/terms-of-use" target="_blank">Term of use.</a>  |  <a href="https://www.starmicronics.com/pages/Privacy-Policy" target="_blank"> Privacy Policy.</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var homePageUrl = '@Url.Content("~")';
    function gotoHome() {
        window.location.href = homePageUrl;
    }
</script>
